div.balloon-image-preview {
  margin: 0 auto;
  max-width: 300px;
  max-height: 300px;
}

div.balloon-image-preview img {
  max-width: 100%;
  max-height: 100%;
}

.sidebar {
  z-index: 100;
  padding: 72px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  height: 100vh;
}

@media (min-width: 768px) {
  [role=main] {
    padding-top: 92px;
  }
}

